#message-container {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
    margin: auto;
    height: 80vh;
    justify-content: flex-start;
    position: relative;
}

#send-container {
    bottom: 0;
    position: absolute;
}